<template>
	<nav class="nav">
		<div class="container">
			<div class="nav-left">
				<nuxt-link to="/" class="nav-item is-brand">
					<p class="title">multi-cell</p>
				</nuxt-link>
			</div>

			<div class="nav-right nav-menu">
				<nuxt-link to="/" class="nav-item">
					Home
				</nuxt-link>
				<nuxt-link to="/about" class="nav-item">
					About
				</nuxt-link>
				<nuxt-link to="/project" class="nav-item">
					Project
				</nuxt-link>
			</div>

			<div class="nav-toggle" @click="toggleNav">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</nav>
</template>

<script>
export default {
	name: "navbar",
	methods: {
		toggleNav () {
			document.querySelector(".nav-toggle").classList.toggle("is-active");
			document.querySelector(".nav-menu").classList.toggle("is-active");
		}
	}
};
</script>

<style scoped>
.title {
	font-family: "Nunito", sans-serif;
}
</style>
