<template>
	<div class="main">
		<hero class="is-primary is-large">
			<navbar slot="hero-head"></navbar>
			<div slot="hero-body" class="container has-text-centered">
				<h1 class="title is-2">
					Title
				</h1>
				<h2 class="subtitle is-5">
					Subtitle
				</h2>
				<a class="button is-primary">
					<icon type="download"></icon>
					<span>Download</span>
				</a>
			</div>
		</hero>
		<call-to-action>
			<p class="title">
				Call to action!
				<a class="button is-primary">
					<icon type="download"></icon>
					<span>Intent</span>
				</a>
			</p>
		</call-to-action>
		<section class="section">
    	<nuxt></nuxt>
		</section>
		<footerbar></footerbar>
	</div>
</template>

<script>
import Hero from "~components/Hero";
import Navbar from "~components/Navbar";
import Footerbar from "~components/Footerbar";
import Icon from "~components/Icon";
import CallToAction from "~components/CallToAction";

export default {
	components: {
		Hero,
		Navbar,
		Footerbar,
		Icon,
		CallToAction
	}
};
</script>

<style scoped>
.main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
</style>
