<template>
	<div class="container">
		<h1 class="title">Home</h1>
		<h2 class="subtitle">
			This is some subtitle thing
		</h2>
		<div class="columns">
			<div class="column is-4">
				<feature>
					<icon slot="icon" class="is-large" type="camera-retro"></icon>
					<p slot="text">
						This is some random ass text or something about random
						stuff I think... mannnnnn
					</p>
					<a slot="button" class="button is-primary is-outlined">
						Action
					</a>
				</feature>
			</div>
			<div class="column is-4">
				<feature>
					<icon slot="icon" class="is-large" type="camera-retro"></icon>
					<p slot="text">
						This is some random ass text or something about random
						stuff I think... mannnnnn
					</p>
					<a slot="button" class="button is-primary is-outlined">
						Action
					</a>
				</feature>
			</div>
			<div class="column is-4">
				<feature>
					<icon slot="icon" class="is-large" type="camera-retro"></icon>
					<p slot="text">
						This is some random ass text or something about random
						stuff I think... mannnnnn
					</p>
					<a slot="button" class="button is-primary is-outlined">
						Action
					</a>
				</feature>
			</div>
		</div>
	</div>
</template>

<script>
import Feature from "~components/Feature";
import Icon from "~components/Icon";

export default {
	head: {
		title: "Home"
	},
	components: {
		Feature,
		Icon
	}
};
</script>
